<%- include('./partials/navbar') %>

<div class="container">
    <p>Seja bem-vindo(a)</p>


    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    
</div>