<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <p>Bem-vindo a página, <%= username %>.</p>

        <ul>
            <% users.forEach((user) => { %>
                <li><%= user.name %></li>
            <% }); %>
        </ul>

    </body> 
</html>