<div class="container mt-5">
    <h3>Criar conta</h3>

    <%- include('./partials/successAlert') %>
    <%- include('./partials/errorAlert') %>

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" id="confirm">
        </div>
        <button type="submit" id="submit" class="btn btn-success">Criar</button>
        <button type="submit" id="reset" class="btn btn-light">Resetar</button>
    </form>
</div>


<script>

    const buttonSubmit = document.getElementById('submit');
    const resetButton = document.getElementById('reset');

    const successAlert = document.getElementById('alert-success');
    const errorAlert = document.getElementById('alert-error');


    function setSuccess() {
        successAlert.style.display = 'block';
        successAlert.textContent = 'Cadastrado criado com sucesso.';
    }

    function setError() {
        errorAlert.style.display = 'block';
        errorAlert.textContent = 'Erro ao criar conta.';
    }

    function removeError() {
        successAlert.style.display = 'none';
        errorAlert.style.display = 'none';
    }




    buttonSubmit.addEventListener('click', (e) => {
        e.preventDefault(); 

        setSuccess();
    });

    buttonSubmit.addEventListener('dblclick', (e) => {
        e.preventDefault(); 

        setError();
    });

    resetButton.addEventListener('click', (e) => {
        e.preventDefault(); 

        removeError();
    });


    

</script>