<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/public/img/logotipo.png" height="50px" width="60px" alt="Bootstrap">
      </a>
      <form class="d-flex" role="search">
        <a href="/register" class="btn btn-success" type="submit">
            Criar conta
        </a>
        <a href="/login" class="btn btn-outline-success" type="submit">
            Login
        </a>
      </form>
    </div>
  </nav>