<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/public/img/logotipo.png" height="50px" width="60px" alt="Bootstrap">
      </a>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-success me-2" onclick="login()">Login</button>
        <button type="button" class="btn btn-success">Criar conta</button>
      </div>
    </div>
  </nav>  





  <script>
    function login() {
      document.a
    }
  </script>